.pizzaItem {
  margin: 20px;
}

.pizzaItemText {
  font-size: 14px;
  font-weight: 500;
}

.pizzaItemDescription {
  font-size: 14px;
  font-weight: 500;
  color: gray;
  width: 150px;
}

.pizzaItemContainer {
  background-color: white;
  padding: 8px;
  width: "100%";
  height: 100px;
}

.pizzaItemButton {
  border: 1px solid green;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
  cursor: pointer;
  color: green;
  font-size: 12px;
  font-weight: 500;
}
